@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.1rem;
}

*::-webkit-scrollbar-track {
  background: #e9e8e8;
  border-radius: 0.4rem;
}

*::-webkit-scrollbar-thumb {
  background: #d0cfcf;
  border-radius: 0.4rem;
}